input[type=date] {
  min-width: 160px;
  min-height: 42px;
}
#single-upload-form {
  margin: 50px 0px 0px 0px;
}
.add-duration-group-container {
  min-height: 40px;
  padding-top: 7px;
}
#add-comment-text {
  width: 320px;
  height: 120px;
}
.upload-container {
  border: 5px dashed rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 40px auto 10px auto;
  border-radius: 10px;
  text-align: center;
}
.upload-container > div {
  margin: 60px 0px;
}
.upload-container .file-type {
  margin: 0px 10px;
}
#add-status-panel-container {
  height: 100px;
}
#add-message-label {
  margin-left: 20px;
}
#add-status-panel {
  text-align: center;
}
