input[type=date] {
  min-width: 160px;
  min-height: 42px;
}
#single-upload-form {
  margin: 40px 0px 0px 0px;
}
.add-duration-group-container {
  margin: 30px 0px;
}
#add-comment-text {
  width: 320px;
  height: 120px;
}
.upload-container {
  border: 5px dashed rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 40px auto 10px auto;
  border-radius: 10px;
  text-align: center;
}
.upload-container > div {
  margin: 60px 0px;
}
.upload-container .file-type {
  margin: 0px 10px;
}
#cancel-button {
  margin-left: 10px;
}
#delete-button {
  float: right;
}
#delete-button > span {
  display: none;
  margin-left: 5px;
}
#delete-button.delete-sure > span {
  display: inline-block;
}
#add-message-label-container {
  text-align: center;
  height: 8px;
  margin-top: -12px;
}
#add-status-panel {
  text-align: center;
}
#attack-details-popup .popup {
  text-align: left;
}
#attack-details-popup .pure-form-aligned .pure-control-group label {
  width: 7em;
}
@media (min-width: 48em) {
  #attack-details-popup .pure-form-aligned .pure-controls {
    margin-left: 8em;
  }
}
#attack-details-popup .popup-title {
  font-size: 160%;
  opacity: 0.75;
  margin-top: 15px;
}
#single-upload-attack-view-container p {
  margin: 0px;
  max-width: none;
  font-size: 120%;
  line-height: 1.7em;
  opacity: 0.8;
}
