@import "reset.less";
@import "elements.less";
@import "progress.less";

@border-color: rgba(0,0,0,0.2);

@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('/static/fonts/opensans-light.wof') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url('/static/fonts/roboto-normal.wof') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url('/static/fonts/roboto-light.wof') format('woff');
}

/********************* Globals ********************/

body{
    //font-family: Helvetica, "Trebuchet MS", sans-serif;

    font-family: 'Roboto', 'helvetica neue', helvetica, arial, sans-serif;
    font-weight: 100;
    font-size: 16px;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: 'Roboto', 'helvetica neue', helvetica, arial, sans-serif;
    font-weight: 100;
}

.fixed-width{
    max-width: 1024px;
    margin: 0px auto;
}

.big-font{
    font-size: 400%;
}

.medium-font{
    font-size: 150%;
}

.underline{
    text-decoration: underline;
}

.right{
    float: right;
}

.center{
    text-align: center;
}

h1{
    font-size: 300%;
}

h2{
    font-size: 200%;
}

h3{
    font-size: 160%;
    line-height: 1.8em;
}

h4{
    font-size: 120%;
    line-height: 1.8em;
}
