/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.progress {
  height: 2px;
  background: rgba(0, 0, 0, 0.05);
  margin: 10px auto;
  width: 300px;
}
.progress > span {
  display: block;
  height: 100%;
  background: #4679BD;
}
.indefinite > span {
  position: relative;
  width: 10% !important;
  -webkit-animation: myfirst linear 2s infinite;
  animation: myfirst linear 2s infinite;
}
/* Standard syntax */
@keyframes myfirst {
  0% {
    left: 0%;
  }
  50% {
    left: 90%;
  }
  100% {
    left: 0%;
  }
}
@-webkit-keyframes myfirst {
  0% {
    left: 0%;
  }
  50% {
    left: 90%;
  }
  100% {
    left: 0%;
  }
}
@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('/static/fonts/opensans-light.wof') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url('/static/fonts/roboto-normal.wof') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url('/static/fonts/roboto-thin.wof') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Thin'), url('/static/fonts/roboto-light.wof') format('woff');
}
/********************* Globals ********************/
body {
  font-family: 'Roboto', 'helvetica neue', helvetica, arial, sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  font-size: 16px;
}
html,
button,
input,
select,
textarea,
.pure-g [class*="pure-u"] {
  /* Set your content font stack here: */

  font-family: 'Roboto', 'helvetica neue', helvetica, arial, sans-serif;
  font-weight: 300;
}
.fixed-width {
  max-width: 1024px;
  margin: 0px auto;
}
.big-font {
  font-size: 400%;
}
.medium-font {
  font-size: 150%;
}
.underline {
  text-decoration: underline;
}
.right {
  float: right;
}
.center {
  text-align: center;
}
h1 {
  font-size: 300%;
}
h2 {
  font-size: 200%;
}
h3 {
  font-size: 160%;
  line-height: 1.8em;
}
h4 {
  font-size: 120%;
  line-height: 1.8em;
}
