@import "elements.less";
@import "progress.less";

@border-color: rgba(0,0,0,0.2);
@link-color: #1f8dd6;

input, select {
    -webkit-appearance: none;
    border-radius: 0;
}

//@font-face {
//  font-family: 'Open Sans Light';
//  font-style: normal;
//  font-weight: 300;
//  src: local('Open Sans Light'), local('OpenSans-Light'), url('/static/fonts/opensans-light.wof') format('woff');
//}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url('/static/fonts/roboto-thin.woff2') format('woff2'), url('/static/fonts/roboto-thin.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url('/static/fonts/roboto-light.woff2') format('woff2'), url('/static/fonts/roboto-light.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('/static/fonts/roboto-regular.woff2') format('woff2'), url('/static/fonts/roboto-regular.woff') format('woff');
}
//
//
//@font-face {
//  font-family: 'Roboto';
//  font-style: normal;
//  font-weight: 400;
//  src: local('Roboto Regular'), local('Roboto-Regular'), url('/static/fonts/roboto-normal.wof') format('woff');
//}
//
//@font-face {
//  font-family: 'Roboto';
//  font-style: normal;
//  font-weight: 100;
//  src: local('Roboto Thin'), local('Roboto-Thin'), url('/static/fonts/roboto-thin.wof') format('woff');
//}
//
//@font-face {
//  font-family: 'Roboto';
//  font-style: normal;
//  font-weight: 300;
//  src: local('Roboto Light'), local('Roboto-Thin'), url('/static/fonts/roboto-light.wof') format('woff');
//}

/********************* Globals ********************/

body{
    //font-family: Helvetica, "Trebuchet MS", sans-serif;

    font-family: 'Roboto', 'helvetica neue', helvetica, arial, sans-serif;
    font-weight: 300;
    line-height: 1.5em;
    font-size: 16px;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: 'Roboto', 'helvetica neue', helvetica, arial, sans-serif;
    font-weight: 300;
}

.narrow{
    max-width: 600px;
    margin: 0px auto;
}

.big-font{
    font-size: 400%;
}

.medium-font{
    font-size: 150%;
}

.underline{
    text-decoration: underline;
}

.right{
    float: right;
}

.center{
    text-align: center;
}

h1{
    font-size: 400%;
}

h2{
    font-size: 300%;
}

h3{
    font-size: 160%;
    line-height: 1.8em;
}

h4{
    font-size: 120%;
    line-height: 1.8em;
}

// Layout

.title {
    margin: 80px 20px 80px 20px;
    text-align: center;
    font-weight: 100;
}

.content p{
    margin: 30px auto;
    max-width: 600px;
    font-size: 120%;
    line-height: 1.7em;
    opacity: 0.8;
}

a {
    color: @link-color;
}

.loading-message{
    font-size: 160%;
    margin-top: 100px;
    text-align: center;
    font-weight: 100;
}

.loading-message .progress{
    width: 180px;
}

.scroll-container{
    height: 100%;
    overflow-y: scroll;
    position: fixed;
    left: 0px;
    width: 100%;
    margin-left: 220px;
}

.section-content{
    margin: 50px 0px;
}

@splash-start: rgba(0, 0, 0, 0.11);
@splash-middle: rgba(0, 0, 0, 0.11);
@splash-end: rgba(0, 0, 0, 0.01);

.popup-background{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

    background: rgba(0,0,0,0.4);
    text-align: center;

    z-index: 100;

    overflow: scroll;
}

.popup{
    border-radius: 8px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.7);
    background: white;
    padding: 20px;
    border: 1px solid rgba(0,0,0,0.4);
    display: inline-block;

    margin: 60px auto;
}

.popup-title{
    font-size: 110%;
    margin-bottom: 10px;
    text-align: center;
}

.popup-close{
    margin-top: 10px;
}

.popup-buttons > button{
    margin: 10px 10px 0px 10px;
    min-width: 80px;
}

@panel-padding: 20px;
@panel-margin: 50px 30px;

.panel{
}

.panel-blue{
    .panel;
    margin: @panel-margin;

}

.panel-yellow{
    .panel;
    margin: @panel-margin;

}

.panel-blue > div{
    max-width: 600px;
    border: 1px solid #bce8f1;
    padding: @panel-padding;
    color: #31708f;
    background-color: #d9edf7;
    margin: 0px auto;
}

.panel-yellow > div{
    max-width: 600px;
    padding: @panel-padding;
    background-color: #fcf8e3;
    border: 1px solid #faebcc;
    color: #8a6d3b; //yellow
    margin: 0px auto;
}