#list-search {
  text-align: center;
}
#list-search input {
  width: 100%;
  max-width: 400px;
  margin-bottom: 60px;
}
#list-search-input-container {
  position: relative;
  display: inline;
}
#list-search-input-clear {
  position: absolute;
  font-size: 200%;
  opacity: 0.1;
  right: 6px;
  top: -6px;
}
#list-search-input-clear:hover {
  opacity: 0.3;
}
#list-started-header {
  min-width: 95px;
}
#list-count {
  text-align: right;
  margin-bottom: 10px;
}
#list-table {
  width: 100%;
  border-top: 1px solid #cbcbcb;
  border-bottom: 1px solid #cbcbcb;
  border-left: none;
  border-right: none;
}
#list-table > thead > tr {
  border: 1px solid #cbcbcb;
}
#list-table th:first-child {
  text-align: center;
}
#list-table th:nth-child(2) {
  text-align: center;
}
#list-table tr:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.03);
}
#list-table td {
  vertical-align: middle;
}
#list-table td:first-child {
  text-align: center;
}
#list-table td:nth-child(2) {
  text-align: center;
}
@media (max-width: 480px) {
  #list-table td {
    padding: 0.5em 0.5em;
  }
  #list-started-header {
    min-width: 75px;
  }
}
#list-table-container td span {
  background: yellow;
}
#list-table-container td {
  position: relative;
  height: 150px;
  vertical-align: top;
}
#list-table-container .tl-row > td {
  height: 200px;
  vertical-align: middle;
  cursor: pointer;
}
.tl-line {
  height: 100%;
  width: 52px;
  border-right: 4px solid #dfdfdf;
  position: absolute;
  top: 0px;
  z-index: 10;
}
.tl-line:before {
  content: '';
  border-top: 4px solid #dfdfdf;
  width: 20px;
  position: relative;
  z-index: 10;
  display: block;
  top: 50%;
  left: 103px;
  margin-top: -2px;
}
.tl-circle {
  background: white;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  border: 4px solid #dfdfdf;
  z-index: 11;
  position: relative;
  text-align: center;
}
.tl-circle > div:nth-child(1) {
  margin-top: 11px;
}
.tl-comment {
  margin: 30px 0px 30px 30px;
}
.tl-title {
  font-weight: bold;
}
.tl-day {
  font-weight: bold;
  font-size: 100%;
}
.tl-first-line {
  height: 100%;
  width: 52px;
  border-right: 4px solid #dfdfdf;
  position: absolute;
  top: 0px;
  z-index: 10;
}
.tl-first-circle {
  background: white;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  border: 4px solid #dfdfdf;
  z-index: 11;
  position: relative;
  text-align: center;
}
.tl-first-circle > div:nth-child(1) {
  margin-top: 35px;
}
.tl-previous {
  position: absolute;
  text-align: left;
  top: -13px;
  left: 63px;
  width: 100px;
  z-index: 15;
  color: #b0b0b0;
}
.tl-add-attack {
  cursor: pointer;
  color: #d8d8d8;
  font-size: 150%;
}
.tl-add-attack:hover {
  color: #a0a0a0;
}
.tl-add-attack span {
  background: none !important;
  margin-left: 8px;
}
