#list-search {
  text-align: center;
}
#list-search input {
  width: 100%;
  max-width: 400px;
  margin-bottom: 60px;
}
#list-search-input-container {
  position: relative;
  display: inline;
}
#list-search-input-clear {
  position: absolute;
  font-size: 200%;
  opacity: 0.1;
  right: 6px;
  top: -4px;
}
#list-search-input-clear:hover {
  opacity: 0.3;
}
#list-started-header {
  min-width: 95px;
}
#list-count {
  text-align: right;
  margin-bottom: 10px;
}
#list-table {
  width: 100%;
}
#list-table th:first-child {
  text-align: center;
}
#list-table th:nth-child(2) {
  text-align: center;
}
#list-table tr:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.03);
}
#list-table td {
  vertical-align: middle;
}
#list-table td:first-child {
  text-align: center;
}
#list-table td:nth-child(2) {
  text-align: center;
}
@media (max-width: 480px) {
  #list-table td {
    padding: 0.5em 0.5em;
  }
  #list-started-header {
    min-width: 75px;
  }
}
#list-table td span {
  background: yellow;
}
