/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.file-type {
  display: inline-block;
  -webkit-perspective: 300;
  -moz-perspective: 300;
  perspective: 300;
  width: 4em;
  height: 6em;
}
.file-type-spin div {
  transition-duration: 0.0s;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.file-type-spin:hover div {
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  animation: spinny linear 0.8s;
  -moz-animation: spinny linear 0.8s;
  -webkit-animation: spinny linear 0.8s;
}
.file-type-jump div {
  transition-duration: 0.2s;
}
.file-type-jump:hover div {
  -webkit-transform: rotateX(-18deg) translateY(-13px) translateZ(40px);
  -moz-transform: rotateX(-18deg) translateY(-13px) translateZ(40px);
  -o-transform: rotateX(-18deg) translateY(-13px) translateZ(40px);
  -ms-transform: rotateX(-18deg) translateY(-13px) translateZ(40px);
  transform: rotateX(-18deg) translateY(-13px) translateZ(40px);
}
.file-type-spinny div {
  transform-style: preserve-3d;
  animation: spinny linear 2s infinite;
  -webkit-animation: spinny linear 2s infinite;
  -moz-animation: spinny linear 2s infinite;
}
/* Standard syntax */
@keyframes spinny {
  0% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  25% {
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    -o-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
  }
  50% {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
  75% {
    -webkit-transform: rotateY(-270deg);
    -moz-transform: rotateY(-270deg);
    -o-transform: rotateY(-270deg);
    -ms-transform: rotateY(-270deg);
    transform: rotateY(-270deg);
  }
  100% {
    -webkit-transform: rotateY(-360deg);
    -moz-transform: rotateY(-360deg);
    -o-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}
@-webkit-keyframes spinny {
  0% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  25% {
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    -o-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
  }
  50% {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
  75% {
    -webkit-transform: rotateY(-270deg);
    -moz-transform: rotateY(-270deg);
    -o-transform: rotateY(-270deg);
    -ms-transform: rotateY(-270deg);
    transform: rotateY(-270deg);
  }
  100% {
    -webkit-transform: rotateY(-360deg);
    -moz-transform: rotateY(-360deg);
    -o-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}
@-webkit-keyframes spinny2 {
  0% {
    -webkit-transform: rotateY(0deg) translateZ(0px);
    -moz-transform: rotateY(0deg) translateZ(0px);
    -o-transform: rotateY(0deg) translateZ(0px);
    -ms-transform: rotateY(0deg) translateZ(0px);
    transform: rotateY(0deg) translateZ(0px);
    left: 0px;
  }
  25% {
    -webkit-transform: rotateY(-90deg) translateZ(10px);
    -moz-transform: rotateY(-90deg) translateZ(10px);
    -o-transform: rotateY(-90deg) translateZ(10px);
    -ms-transform: rotateY(-90deg) translateZ(10px);
    transform: rotateY(-90deg) translateZ(10px);
    left: -20px;
  }
  50% {
    -webkit-transform: rotateY(-180deg) translateZ(20px);
    -moz-transform: rotateY(-180deg) translateZ(20px);
    -o-transform: rotateY(-180deg) translateZ(20px);
    -ms-transform: rotateY(-180deg) translateZ(20px);
    transform: rotateY(-180deg) translateZ(20px);
    left: 0px;
  }
  75% {
    -webkit-transform: rotateY(-270deg) translateZ(10px);
    -moz-transform: rotateY(-270deg) translateZ(10px);
    -o-transform: rotateY(-270deg) translateZ(10px);
    -ms-transform: rotateY(-270deg) translateZ(10px);
    transform: rotateY(-270deg) translateZ(10px);
    left: 20px;
  }
  100% {
    -webkit-transform: rotateY(-360deg) translateZ(0px);
    -moz-transform: rotateY(-360deg) translateZ(0px);
    -o-transform: rotateY(-360deg) translateZ(0px);
    -ms-transform: rotateY(-360deg) translateZ(0px);
    transform: rotateY(-360deg) translateZ(0px);
    left: 0px;
  }
}
.file-type > div {
  width: 100%;
  text-align: center;
  background: #f0f0f0;
  position: relative;
  height: 4em;
  top: 2em;
  cursor: pointer;
  display: inline-block;
  -webkit-transform: rotateX(0deg) translateY(0px);
  -moz-transform: rotateX(0deg) translateY(0px);
  -o-transform: rotateX(0deg) translateY(0px);
  -ms-transform: rotateX(0deg) translateY(0px);
  transform: rotateX(0deg) translateY(0px);
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}
.file-type > div:before {
  content: "";
  position: absolute;
  top: -2em;
  right: 0;
  border-width: 0 2em 2em 0;
  border-style: solid;
  border-color: white transparent;
}
.file-type > div:after {
  content: "";
  position: absolute;
  top: -2em;
  left: 0;
  right: 2em;
  border-width: 1em;
  border-style: solid;
  border-color: #f0f0f0;
}
.file-type > div > span {
  position: absolute;
  top: 0em;
  right: 0;
  border-width: 2em 0 0 2em;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.05) transparent;
}
.file-type > div > p {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 1.25em;
  font-weight: bold;
  margin-top: 1.4em;
  color: white;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.big {
  width: 8em;
  height: 12em;
}
.big > div {
  height: 8em;
  top: 4em;
}
.big > div:before {
  top: -4em;
  border-width: 0 4em 4em 0;
}
.big > div:after {
  top: -4em;
  right: 4em;
  border-width: 2em;
}
.big > div > span {
  border-width: 4em 0 0 4em;
}
.big > div > p {
  font-size: 2.5em;
  margin-top: 1.4em;
}
.green > div {
  background: #37C49C;
}
.green > div:before {
  border-color: #4ECEA6 transparent;
}
.green > div:after {
  border-color: #37C49C;
}
.red > div {
  background: #EC5757;
}
.red > div:before {
  border-color: #F47878 transparent;
}
.red > div:after {
  border-color: #EC5757;
}
.blue > div {
  background: #47B8F7;
}
.blue > div:before {
  border-color: #6BD0FB transparent;
}
.blue > div:after {
  border-color: #47B8F7;
}
.yellow > div {
  background: #FFC35A;
}
.yellow > div:before {
  border-color: #FFCE87 transparent;
}
.yellow > div:after {
  border-color: #FFC35A;
}
.orange > div {
  background: #F7974A;
}
.orange > div:before {
  border-color: #FBAB75 transparent;
}
.orange > div:after {
  border-color: #F7974A;
}
.pink > div {
  background: #F76081;
}
.pink > div:before {
  border-color: #F77BA1 transparent;
}
.pink > div:after {
  border-color: #F76081;
}
.brown > div {
  background: #998B79;
}
.brown > div:before {
  border-color: #A2968D transparent;
}
.brown > div:after {
  border-color: #998B79;
}
