/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.logo {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transform: rotate(0deg) scale(0.7);
  -moz-transform: rotate(0deg) scale(0.7);
  -o-transform: rotate(0deg) scale(0.7);
  -ms-transform: rotate(0deg) scale(0.7);
  transform: rotate(0deg) scale(0.7);
}
.logo > div {
  border: 2px #6FBEF3 solid;
  width: 8px;
  height: 8px;
  position: absolute;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
.logo > div:nth-child(1) {
  border-top-style: none;
  border-left-style: none;
}
.logo > div:nth-child(2) {
  left: 14px;
  border-top-style: none;
  border-right-style: none;
}
.logo > div:nth-child(3) {
  top: 14px;
  border-bottom-style: none;
  border-left-style: none;
}
.logo > div:nth-child(4) {
  top: 14px;
  left: 14px;
  border-bottom-style: none;
  border-right-style: none;
}
.logo:hover {
  -webkit-transform: rotate(360deg) scale(0.8);
  -moz-transform: rotate(360deg) scale(0.8);
  -o-transform: rotate(360deg) scale(0.8);
  -ms-transform: rotate(360deg) scale(0.8);
  transform: rotate(360deg) scale(0.8);
}
.cube:hover > div:nth-child(1) {
  -webkit-transform: translate(10px, 10px);
  -moz-transform: translate(10px, 10px);
  -o-transform: translate(10px, 10px);
  -ms-transform: translate(10px, 10px);
  transform: translate(10px, 10px);
}
.cube:hover > div:nth-child(2) {
  -webkit-transform: translate(-10px, 10px);
  -moz-transform: translate(-10px, 10px);
  -o-transform: translate(-10px, 10px);
  -ms-transform: translate(-10px, 10px);
  transform: translate(-10px, 10px);
}
.cube:hover > div:nth-child(3) {
  -webkit-transform: translate(10px, -10px);
  -moz-transform: translate(10px, -10px);
  -o-transform: translate(10px, -10px);
  -ms-transform: translate(10px, -10px);
  transform: translate(10px, -10px);
}
.cube:hover > div:nth-child(4) {
  -webkit-transform: translate(-10px, -10px);
  -moz-transform: translate(-10px, -10px);
  -o-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
}
