@import "common.less";

.title{
    text-align: center;
    margin: 40px 0px;
}

.upload-container{
    border: 6px dashed rgba(0,0,0,0.2);
    width: 400px;
    height: 400px;
    margin: 40px auto;
    border-radius: 30px;
}