@import "reset.less";

@import "./tp/pure.css.less";
@import "./tp/side-menu.css.less";
@import "./tp/font-awesome.min.css.less";
@import "file-types.less";

@import "pure-overrides.less";

@import "common.less";

@import "add_view.less";
@import "stats_view.less";
@import "events_view.less";
@import "settings_view.less";

@import "logo.less";

#menu-logo{
    top: 5px;
}

#menu{
    background: #2a2d33;
}

#menu a {
  outline: none;
}

.menu-item-divided{
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}