@import "reset.less";

@import "./tp/pure.css.less";
@import "./tp/side-menu.css.less";
@import "./tp/font-awesome.min.css.less";
@import "file-types.less";

@import "pure-overrides.less";

@import "common.less";

@import "add_view.less";
@import "stats_view.less";
@import "events_view.less";
@import "settings_view.less";

@import "logo.less";

#menu-logo{
    top: 5px;
}

#menu{
    background: #2a2d33;
}

#menu a {
  outline: none;
}

.menu-item-divided{
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

#menu .pure-menu li a:focus{
    background: #1f8dd6;
}

#menu .pure-menu li a:hover {
    background: #333;
}

.pure-menu-heading:hover > .logo{
    .transform(rotate(360deg) scale(0.8));
}

.pure-menu-heading:hover > .cube > div:nth-child(1){
    .transform(translate(10px,10px));
}

.pure-menu-heading:hover > .cube > div:nth-child(2){
    .transform(translate(-10px,10px));
}

.pure-menu-heading:hover > .cube > div:nth-child(3){
    .transform(translate(10px,-10px));
}

.pure-menu-heading:hover > .cube > div:nth-child(4){
    .transform(translate(-10px,-10px));
}
