

@primary-color: #70A5DA;

.mode-buttons{
    text-align: center;
}

.mode-buttons > div{
    border: 1px solid @primary-color;
    border-radius: 5px;
    display: inline-block;
    margin: 0px auto;
}

.mode-buttons span{
    padding: 10px 30px;
    color: @primary-color;
    cursor: pointer;
    display: inline-block;
}

.mode-buttons .selected{
    background: @primary-color;
    color: white;
}

.stat-section{
    margin: 20px 0px;

}
.date-range{
    float: right;
}

.stat-section-title{
    border-bottom: 1px solid @border-color;
    font-size: 120%;
    margin: 20px 0px;
}

.stat-section-item-container{
    margin-left: auto;
    margin-right: auto;
}

.stat-section-item{
    vertical-align: top;
    margin: 15px;
    text-align: center;
}

.stat-section-full-width-item{
    padding: 10px;
    margin: 10px auto 10px auto;
    text-align: center;
}

.stat-section-item > div{
    vertical-align: middle;
}

.stat-section-item > div.label{
    font-size: 130%;
    line-height: 1.4em;
    opacity: 0.4;
}

#total-count-description{
    max-width: 250px;
    margin: 0px auto;
}

.stat-section-item > div.count{
    font-size: 600%;
    font-weight: 100;
    line-height: 1.2em;
    opacity: 0.6;
}

.description-item{
    font-size: 130%;
    line-height: 1.5em;
    opacity: 0.6;
    padding: 10px;
    text-align: justify;
}

.description-item span{
    opacity: 1.0;
    font-size: 150%;
}

.side-by-side-container{
    position: relative;
}

.side-by-side-container > canvas{
    height: 240px !important;
}

.side-by-side{
}

.all-chart{
    .transition-duration(0.4s);
    opacity: 1.0;
}

.by-year-chart {
    position: absolute;
    left: 0px;
    top: 0px;
}

.faded{
    opacity: 0.0;
}

.graph-mode{
    text-align: center;
    margin-top: 10px;
}

.selected{
    background: rgba(0,0,0,0.15);
}

.graph-mode > span{
    margin: 0px 10px;
    cursor: pointer;
    opacity: 0.7;
    font-size: 90%;
    padding: 1px 10px;
    border-radius: 10px;
}

.graph-mode > span:hover{
    opacity: 0.9;

}

#overview-trend{
    margin-bottom: 50px;
}

.overview-trend-chart{
    border-bottom: 1px solid rgba(0,0,0,0.06);
    height: 40px !important;
}

.year-trend-chart{
    width: 100% !important;
    height: 200px !important;
}

.overview-first-date{
    margin-top: 5px;
    float: left;
    text-align: left;
}

.overview-last-date{
    margin-top: 5px;
    float: right;
    text-align: right;
}

/**************** Calendar *********************/
.day {
    stroke: #eeeeee;
    fill: transparent;
}

.month {
    fill: transparent;
    stroke: #cccccc;
    stroke-width: 2px;
}

.RdYlGn .q0-11{fill:rgba(151,187,205,0.3)}
.RdYlGn .q1-11{fill:rgba(151,187,205,0.4)}
.RdYlGn .q2-11{fill:rgba(151,187,205,0.6)}
.RdYlGn .q3-11{fill:rgb(253,174,97)}
.RdYlGn .q4-11{fill:rgb(254,224,139)}
.RdYlGn .q5-11{fill:rgb(255,255,191)}
.RdYlGn .q6-11{fill:rgb(217,239,139)}
.RdYlGn .q7-11{fill:rgb(166,217,106)}
.RdYlGn .q8-11{fill:rgb(102,189,99)}
.RdYlGn .q9-11{fill:rgb(26,152,80)}
.RdYlGn .q10-11{fill:rgb(0,104,55)}
