<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Admin - Shared Links</title>

    <link type="text/css" rel="stylesheet" href="/static/css/admin.css" />
    <link rel="stylesheet" href="/static/css/tp/grids-responsive-min.css">

    <link rel="shortcut icon" href="/static/images/32x32.png">

    <title>Shared Links</title>
</head>
<body>
    <div class="content">
        <div>
            <h2 class="title">Shared Links</h2>
        </div>

        <table id="shared-link-table" class="pure-table pure-table-horizontal">
            <thead>
                <tr>
                    <th>Started</th>
                    <th>Link</th>
                    <th>Created</th>
                </tr>
            </thead>
            {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td><a href="/shared/{{ user.share_report_and_list_key }}/report">{{ user.share_report_and_list_key }}</a> </td>
                <td>{{ user.created }}</td>
            </tr>
            {% endfor %}
            <tbody>

            </tbody>
        </table>

    </div>
</body>
</html>