<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Admin - Tweets</title>

    <link type="text/css" rel="stylesheet" href="/static/css/admin.css" />
    <link rel="stylesheet" href="/static/css/tp/grids-responsive-min.css">

    <link rel="shortcut icon" href="/static/images/32x32.png">

    <title>Shared Links</title>
</head>
<body>
    <div class="content">
        <div>
            <h2 class="title">Queue</h2>
        </div>
        <div class="content">
            <form id="single-upload-form" class="pure-form pure-form-aligned center-margin" action="/admin/new_tweet" method="POST">
                <fieldset>
                    <div class="pure-control-group">
                        <div class="pure-control-group">
                            <label for="message-text">Message</label>
                            <div class="text-area-container">
                                <textarea name="message" id="message-text" placeholder="Tweet..."></textarea>
                            </div>
                        </div>
                        <div class="pure-control-group">
                            <label>Message Length</label>
                            <span id="message-length"></span>
                        </div>

                        <label for="priority">Priority</label>
                        <select name="priority" id="priority">
                           <option value="Now">Now</option>
                           <option value="1">1</option>
                           <option value="2">2</option>
                           <option value="3">3</option>
                           <option value="4">4</option>
                           <option value="5" selected>5</option>
                           <option value="6">6</option>
                           <option value="7">7</option>
                           <option value="8">8</option>
                           <option value="9">9</option>
                           <option value="10">10</option>
                        </select>
                    </div>

                    <div class="pure-controls">
                        <button id="submit-button" type="submit" class="pure-button pure-button-primary">Submit</button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="content center tweet-counts">
            <span>Sent: {{ sent_tweets }}</span><span>Unsent: {{ unsent_tweets }}</span><span>Total: {{ total }}</span><span>Frequency: 1/{{ frequency }}</span>
        </div>
        <table id="shared-link-table" class="pure-table pure-table-horizontal">
            <thead>
                <tr>
                    <th>Message</th>
                    <th>Priority</th>
                    <th>Created</th>
                    <th>Sent</th>
                    <th></th>
                </tr>
            </thead>
            {% for tweet in tweets %}
            <tr>
                <td>{{ tweet.message }}</td>
                <td>{{ tweet.priority }}</td>
                <td>{{ tweet.created }}</td>
                <td>{{ tweet.sent }}</td>
                <td><form method="POST" action="/admin/delete_tweet"><button class="pure-button button-error">Delete</button>
                    <input type="hidden" name="id" id="id" value="{{ tweet.id }}"/>
                </form></td>
            </tr>
            {% endfor %}
            <tbody>

            </tbody>
        </table>

    </div>
</body>
    <script src="/static/javascript/tp/jquery-2.1.1.js" language="javascript" type="text/javascript"></script>
    <script src="/static/javascript/admin/tweets.js" language="javascript" type="text/javascript"></script>

</html>