<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ status }}</title>

    <link type="text/css" rel="stylesheet" href="/static/css/error.css" />
    <link rel="stylesheet" href="/static/css/tp/grids-responsive-min.css">

    <link rel="shortcut icon" href="/static/images/32x32.png">

    <title>Migraine not found</title>
</head>
<body>
    <div>
        <a href="/" title="Home" id="error-home-link">
            <div class="logo">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <span>Migraine Report</span>
        </a>
    </div>
    <div class="content">
        <div>
            <h2 class="title error-title">{{ title }}</h2>
            <h3 class="center error-message">{{ message }}</h3>
        </div>
    </div>
</body>
</html>