<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Migraine Report</title>

    <link type="text/css" rel="stylesheet" href="/static/css/home.css" />

    <meta name="description" content="Simple free migraine diary.  Log your migraines and see beautiful reports .  Import from Excel o">
    <meta name="keywords"
          content="migraine diary, migraine calendar, log migraines, migraine report, log migraine">


    <!--[if lte IE 8]>
        <link rel="stylesheet" href="/static/css/tp/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="/static/css/tp/grids-responsive-min.css">
    <!--<![endif]-->

    <link rel="shortcut icon" href="/static/images/32x32.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui"/>
</head>
<body>
    <!-
    Home view
    ->
    <div id="home-view">
        <div class="header">
            <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
                <span id="header-home-link" class="pure-menu-heading">
                    <div id="header-logo" class="cube logo">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <span>
                    Migraine Report
                    </span>
                </span>

                <ul>
                    {% if user %}
                    <li><a href="/report">Report</a></li>
                    <li><a href="/">About</a></li>
                    <li><a href="{{ logout_url }}">Sign Out ({{ user.name }})</a></li>
                    {% else %}
                    <li><a href="/example/report">Tour</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a id="login-link" href="#">Sign In</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <div class="splash-container">
            <div class="splash">
                <h1 class="splash-head">Migraine Report</h1>
                <div class="splash-subhead">
                    Log, Search and Visualise your migraines.
                </div>

                <img class="pure-img" src="/static/images/report1.png">
                <!--<div class="splash-icons">-->
                    <!--<i class="fa fa-list"></i>-->
                    <!--<i class="fa fa-search"></i>-->
                    <!--<i class="fa fa-bar-chart"></i>-->
                <!--</div>-->
                <div class="splash-buttons">
                    <a href="/example/report" class="button-xlarge pure-button pure-button-primary">Tour</a>
                    <a href="#started" class="button-xlarge pure-button button-error">Get Started</a>
                </div>
            </div>
        </div>

        <div class="content-wrapper">
            <div class="content">
                <h2 class="content-head center">Features</h2>

                <div class="pure-g">
                    <div class="l-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                        <div>
                            <h3 class="content-subhead">
                                <i class="fa fa-bar-chart"></i>
                                Reporting
                            </h3>
                            <p>
                                View beautifully visualisations of your migraine data, immediately see patterns when attacks occur.
                            </p>
                        </div>
                    </div>
                    <div class="l-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                        <div>
                            <h3 class="content-subhead">
                                <i class="fa fa-th-large"></i>
                                Get Started
                            </h3>
                            <p>
                                Import existing migraine data from spreadsheets (.xls, .xlsx, .csv) or calendar exports (.ics).
                            </p>
                        </div>
                    </div>
                    <div class="l-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                        <div>
                            <h3 class="content-subhead">
                                <i class="fa fa-mobile"></i>
                                Mobile Ready
                            </h3>
                            <p>
                                Whether using your phone, tablet or desktop Migraine.Report looks great and works everywhere.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="pure-g">
                    <div class="l-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                        <div>
                            <h3 class="content-subhead">
                                <i class="fa fa-file-excel-o"></i>
                                Export
                            </h3>
                            <p>
                                You can always export your migraine data as a spreadsheet or calendar with a single click.
                            </p>
                        </div>
                    </div>
                    <div class="l-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                        <div>
                            <h3 class="content-subhead">
                                <i class="fa fa-search"></i>
                                Search
                            </h3>
                            <p>
                                Instantly search all your migraine data to narrow down attacks with certain key words.
                            </p>
                        </div>
                    </div>
                    <div class="l-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                        <div>
                            <h3 class="content-subhead">
                                <i class="fa fa-share-square-o"></i>
                                Share
                            </h3>
                            <p>
                                Share read-only versions of your migraine data with health professionals with your own private links.
                            </p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="ribbon">
                <a id="started"></a>
                <div class="content">
                    <h2 class="content-head center">Get Started</h2>

                    <div class="pure-g">
                        <div class="l-box-lrg pure-u-1 pure-u-md-2-5 center">
                            <p class="register-title">Use any of these identity providers to sign in and create an account.</p>
                            <div class="logon-provider">
                                <a href="/auth/googleplus?destination_url=/report" class="button-xlarge button-google pure-button"><i class="fa fa-google-plus-square"></i>Google+</a>
                            </div>
                            <div class="logon-provider">
                                <a href="/auth/windows_live?destination_url=/report" class="button-xlarge button-windows pure-button"><i class="fa fa-windows"></i>Windows Live</a>
                            </div>
                            <div class="logon-provider">
                                <a href="/auth/facebook?destination_url=/report" class="button-xlarge button-facebook pure-button"><i class="fa fa-facebook"></i>Facebook</a>
                            </div>
                            {% if debug_login %}
                            <div class="logon-provider">
                                <a href="{{ login_url }}" class="button-xlarge pure-button">Debug Sign In</a>
                            </div>
                            {% endif %}
                            <p class="register-footer">
                                If you would like other authentication options please <a href="mailto:simon@migraine.report">let us know</a>.
                            </p>

                        </div>

                        <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
                            <p class="register-text">
                                We use trusted third parties for authentication; this means you can use your existing Google, Microsoft Live (Hotmail) or Facebook accounts to sign in without having to create a new password.
                            </p>
                            <p class="register-text">
                                Once you've created your account you can log migraines individually or upload a file containing lots of them from a Spreadsheet (.xsl, .csv) or Calendar file (.ics).
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="content">
                <a id="about"></a>
                <h2 class="content-head center">About</h2>

                <div class="pure-g">
                    <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
                        <div>
                            <h3 class="content-subhead">
                                Me
                            </h3>
                            <p>I have suffered from migraines for around 25 years and I've been writing software for just about as long.  My migraines have changed over the years and I've tried many different types of treatment; clinical drugs, herbal remedies, lifestyle changes, meditation.  Some things have had greater success than others but nothing has really had a dramatic effect.  It looks like I'm stuck with them.</p>
                            <p>A few years ago I started keeping a log of when the attacks happen which was recommended by a health professional.  As the amount of attacks recorded grew I wondered if I could do something useful with this information.  The result of that is Migraine.Report.</p>
                        </div>
                    </div>
                    <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
                        <div>
                            <h3 class="content-subhead">
                                Migraine.Report
                            </h3>
                            <p>This website will not cure your migraines.  It will however give you some awareness around when they occur and it will let you browse your attacks using insightful data visualisations.  It gives you an easy way to log and search your attacks and works just as well on desktop, tablet or mobile.  If you're already logging your migraines then it's easy to import them as either a spreadsheet (.xls, .xlsx, .csv) or from calendar software (Outlook, Google Calendar) as .ics files.</p>
                            <p>I have found it useful to log and view my migraines here and I hope you do too.  If you do have any suggestions as to how I could improve Migraine.Report then I'd love to hear them.  Thank you.</p>
                        </div>
                    </div>
                </div>
                <div class="pure-g">
                    <div class="pure-u-1 feedback">
                        <p>
                        Got feedback?  Send it here <a href="mailto:simon@migraine.report">simon@migraine.report</a>. <br/>Thanks.
                        </p>
                    </div>
                </div>

            </div>


            <div class="footer l-box is-center">
                Made in London - Copyright 2015
            </div>

        </div>
    </div>


        <!--
    Login
    -->
    <div class="popup-background" id="logon" style="display: none;">
        <div class="popup">
           <div class="popup-title">Sign in with any of these services</div>
            <div>
                <div class="logon-provider">
                    <a href="/auth/googleplus?destination_url=/report" class="button-xlarge button-google pure-button"><i class="fa fa-google-plus-square"></i>Google+</a>
                </div>
                <div class="logon-provider">
                    <a href="/auth/windows_live?destination_url=/report" class="button-xlarge button-windows pure-button"><i class="fa fa-windows"></i>Windows Live</a>
                </div>
                <div class="logon-provider">
                    <a href="/auth/facebook?destination_url=/report" class="button-xlarge button-facebook pure-button"><i class="fa fa-facebook"></i>Facebook</a>
                </div>
                {% if debug_login %}
                <div class="logon-provider">
                    <a href="{{ login_url }}" class="button-xlarge pure-button">Debug Sign In</a>
                </div>
                {% endif %}

                <button class="popup-close button-large pure-button">Close</button>
            </div>
        </div>
    </div>

    <script src="/static/javascript/tp/jquery-2.1.1.js" language="javascript" type="text/javascript"></script>
    <script>

        function setDimensions(){
          var windowsHeight = $(window).height();
          $('.splash-container').css('min-height', windowsHeight + 'px');
        }

        function showLogin(){
            $("#logon").fadeIn('fast');
        }

        function hideLogin(){
            $("#logon").fadeOut('fast');
        }

        $(document).ready(function(){
          setDimensions();

          //when resizing the site, we adjust the heights of the sections
          $(window).resize(function() {
            setDimensions();
          });

          $('#login-link').click(function(){
              showLogin();
          });

          $('#logon').click(function(){
              hideLogin();
          });
        });

    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-56994789-1', 'auto');
      ga('send', 'pageview');

    </script>

</body>
</html>
