<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Migraine Report</title>

    <link type="text/css" rel="stylesheet" href="/static/css/all.css" />

    <!--[if lte IE 8]>
        <link rel="stylesheet" href="/static/css/tp/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="/static/css/tp/grids-responsive-min.css">
    <!--<![endif]-->

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui"/>
</head>
<body>
    <!-
        Uploaded view
    ->
    <div id="everything-view">
        <div id="layout">
            <!-- Menu toggle -->
            <a href="#menu" id="menuLink" class="menu-link">
                <!-- Hamburger icon -->
                <span></span>
            </a>

            <div id="menu">
                <div class="pure-menu pure-menu-open">
                    <a class="pure-menu-heading" href="/"><i class="fa fa-home"></i> Migraine Report</a>

                    <ul>
                        <li><a id="add-toggle" href="#"><i class="fa fa-plus"></i> Add</a></li>
                        <li><a id="statistics-toggle" href="#"><i class="fa fa-bar-chart"></i> Statistics</a></li>
                        <li><a id="events-toggle" href="#"><i class="fa fa-list"></i> List</a></li>

                        <li class="menu-item-divided">
                            <a href="/"><i class="fa fa-sign-out"></i> Logout</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div id="main" class="fixed-width">
                <!-
                    Stats view
                ->
                <div id="add-view" style="display: none;">
                    <div>
                        <h2 class="stat-title">Add</h2>
                    </div>
                    <div class="content">
                        <p>Add a single attack or upload a file containing several.  We accept most spreadsheet formats (.xls, .xlsx, .csv) or calendar files (.ics).</p>
                        <div class="stat-section-title">
                            Log an attack
                        </div>
                        <form class="pure-form pure-form-aligned" action="/report/add" method="post">
                            <fieldset>
                                <div class="pure-control-group">
                                    <label for="started">Started</label>
                                    <input name="started" id="started" type="date" placeholder="Started">
                                    <select name="started-time">
                                       <option value="00:00">00:00</option>
                                       <option value="00:30">00:30</option>
                                       <option value="01:00">01:00</option>
                                       <option value="01:30">01:30</option>
                                       <option value="02:00">02:00</option>
                                       <option value="02:30">02:30</option>
                                       <option value="03:00">03:00</option>
                                       <option value="03:30">03:30</option>
                                       <option value="04:00">04:00</option>
                                       <option value="04:30">04:30</option>
                                       <option value="05:00">05:00</option>
                                       <option value="05:30">05:30</option>
                                       <option value="06:00">06:00</option>
                                       <option value="06:30">06:30</option>
                                       <option value="07:00">07:00</option>
                                       <option value="07:30">07:30</option>
                                       <option value="08:00">08:00</option>
                                       <option value="08:30">08:30</option>
                                       <option value="09:00">09:00</option>
                                       <option value="09:30">09:30</option>
                                       <option value="10:00">10:00</option>
                                       <option value="10:30">10:30</option>
                                       <option value="11:00">11:00</option>
                                       <option value="11:30">11:30</option>
                                       <option value="12:00" selected>12:00</option>
                                       <option value="12:30">12:30</option>
                                       <option value="13:00">13:00</option>
                                       <option value="13:30">13:30</option>
                                       <option value="14:00">14:00</option>
                                       <option value="14:30">14:30</option>
                                       <option value="15:00">15:00</option>
                                       <option value="15:30">15:30</option>
                                       <option value="16:00">16:00</option>
                                       <option value="16:30">16:30</option>
                                       <option value="17:00">17:00</option>
                                       <option value="17:30">17:30</option>
                                       <option value="18:00">18:00</option>
                                       <option value="18:30">18:30</option>
                                       <option value="19:00">19:00</option>
                                       <option value="19:30">19:30</option>
                                       <option value="20:00">20:00</option>
                                       <option value="20:30">20:30</option>
                                       <option value="21:00">21:00</option>
                                       <option value="21:30">21:30</option>
                                       <option value="22:00">22:00</option>
                                       <option value="22:30">22:30</option>
                                       <option value="23:00">23:00</option>
                                       <option value="23:30">23:30</option>
                                    </select>
                                </div>

                                <div class="pure-control-group">
                                    <label for="ended">Ended</label>
                                    <input name="ended" id="ended" type="date" placeholder="Ended">
                                    <select name="ended-time">
                                       <option value="00:00">00:00</option>
                                       <option value="00:30">00:30</option>
                                       <option value="01:00">01:00</option>
                                       <option value="01:30">01:30</option>
                                       <option value="02:00">02:00</option>
                                       <option value="02:30">02:30</option>
                                       <option value="03:00">03:00</option>
                                       <option value="03:30">03:30</option>
                                       <option value="04:00">04:00</option>
                                       <option value="04:30">04:30</option>
                                       <option value="05:00">05:00</option>
                                       <option value="05:30">05:30</option>
                                       <option value="06:00">06:00</option>
                                       <option value="06:30">06:30</option>
                                       <option value="07:00">07:00</option>
                                       <option value="07:30">07:30</option>
                                       <option value="08:00">08:00</option>
                                       <option value="08:30">08:30</option>
                                       <option value="09:00">09:00</option>
                                       <option value="09:30">09:30</option>
                                       <option value="10:00">10:00</option>
                                       <option value="10:30">10:30</option>
                                       <option value="11:00">11:00</option>
                                       <option value="11:30">11:30</option>
                                       <option value="12:00" selected>12:00</option>
                                       <option value="12:30">12:30</option>
                                       <option value="13:00">13:00</option>
                                       <option value="13:30">13:30</option>
                                       <option value="14:00">14:00</option>
                                       <option value="14:30">14:30</option>
                                       <option value="15:00">15:00</option>
                                       <option value="15:30">15:30</option>
                                       <option value="16:00">16:00</option>
                                       <option value="16:30">16:30</option>
                                       <option value="17:00">17:00</option>
                                       <option value="17:30">17:30</option>
                                       <option value="18:00">18:00</option>
                                       <option value="18:30">18:30</option>
                                       <option value="19:00">19:00</option>
                                       <option value="19:30">19:30</option>
                                       <option value="20:00">20:00</option>
                                       <option value="20:30">20:30</option>
                                       <option value="21:00">21:00</option>
                                       <option value="21:30">21:30</option>
                                       <option value="22:00">22:00</option>
                                       <option value="22:30">22:30</option>
                                       <option value="23:00">23:00</option>
                                       <option value="23:30">23:30</option>
                                    </select>
                                </div>

                                <div class="pure-control-group" id="add-duration-group">
                                    <label>Duration</label>
                                    <span>2 hours</span>
                                </div>

                                <div class="pure-control-group">
                                    <label for="add-comment-text">Description</label>
                                    <textarea name="comment" id="add-comment-text" placeholder="What happened, what you eat, what you were doing, what treatment, how you felt, the weather."></textarea>
                                </div>

                                <div class="pure-controls">
                                    <button type="submit" class="pure-button pure-button-primary">Submit</button>
                                </div>
                            </fieldset>
                        </form>

                        <div class="stat-section-title">
                            Upload attacks
                        </div>
                        <p>Drag and drop your spreadsheet or calendar file containing your migraine dairy.</p>
                        <div class="upload-container">
                            <div>
                                <div class="file-type green">
                                    <div>
                                        <span></span>
                                        <p>XLSX</p>
                                    </div>
                                </div>
                                <div class="file-type blue">
                                    <div>
                                        <span></span>
                                        <p>CSV</p>
                                    </div>
                                </div>
                                <div class="file-type red">
                                    <div>
                                        <span></span>
                                        <p>ICS</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div id="uploading-message">Uploading
                            <div class='progress'>
                                <span style="width: 0%;"></span>
                            </div>
                        </div>

                    </div>
                </div>

                <!-
                    Stats view
                ->
                <div id="stats-view" style="display: none;">
                    <div>
                        <h2 class="stat-title">Statistics</h2>
                    </div>
                    <div id="stat-sections-container" class="content">
                        <div id="stats-loading" style="display: none;">
                            <div>Fetching data...</div>
                            <div class='progress indefinite'>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-
                    Events view
                ->

                <div id="event_list_container" style="display: none;">
                    <div>
                        <h2 class="stat-title">Migraine List</h2>
                    </div>
                    <div class="content">
                        <table class="pure-table pure-table-horizontal">
                            <thead>
                                <tr>
                                    <th>Started</th>
                                    <th>Duration</th>
                                    <th>Comment</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-
        Templates
    ->
    <script type="text/template" id="overview-view-template">
        <div class="stat-section-title">
            Overview
            <!--<span class="date-range"><%= overview.firstDate %> - <%= overview.lastDate %></span>-->
        </div>
        <div class="stat-section-item-container">
            <div class="pure-g stat-section-full-width-item">
                <div class="pure-u-1 pure-u-sm-1-3">
                    <div class="stat-section-item">
                        <div class="count"><%= overview.totalEvents %></div>
                        <div class="description-item" id="total-count-description">
                            <div>Attacks in total between <span><%= overview.firstDate %></span> and <span><%= overview.lastDate %></span>.</div>
                        </div>
                    </div>
                </div>
                <div class="pure-u-1 pure-u-sm-1-3">
                    <div class="stat-section-item">
                        <canvas class="year-trend-chart" height="200" width="100"></canvas>
                    </div>
                </div>
                <div class="pure-u-1 pure-u-sm-1-3">
                    <div class="stat-section-item">
                        <div class="description-item">
                            <div>Average of <span><%= overview.averageTimeBetweenEvent %></span> between attacks. The longest interval between attacks was <span><%= overview.longestGap %></span>, shortest <span><%= overview.shortestGap %></span>.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pure-g stat-section-full-width-item" id="overview-trend">
            <div class="pure-u-1-1">
                <canvas class="overview-trend-chart" width="740" height="40"></canvas>
                <div class="overview-first-date"><%= overview.firstDate %></div>
                <div class="overview-last-date"><%= overview.lastDate %></div>
            </div>
        </div>
    </script>

    <script type="text/template" id="days-of-week-view-template">
        <div class="stat-section-title">
            <%= daysData.title %>
        </div>
        <div class="pure-g stat-section-full-width-item">
            <div class="pure-u-1 pure-u-sm-2-3">
                <div class="side-by-side-container">
                    <canvas class="side-by-side all-chart" height="240"></canvas>
                    <canvas style="display: none;" class="side-by-side by-year-chart" height="240"></canvas>
                </div>
                <div class="graph-mode">
                    <span class="graph-mode-all selected">all</span><span class="graph-mode-year">by year</span>
                </div>
            </div>
            <div class="pure-u-1 pure-u-sm-1-3">
                <div class="stat-section-item">
                    <div class="description-item">
                        <div>Attacks have most frequently been on a <span><%= mostFrequentText %></span>  or least frequently on a  <span><%= leastFrequentText %></span>.</div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="months-of-year-view-template">
        <div class="stat-section-title">
            <%= all.title %>
        </div>
        <div class="pure-g stat-section-full-width-item">
            <div class="pure-u-1">
                <div class="side-by-side-container">
                    <canvas class="side-by-side all-chart" height="240"></canvas>
                    <canvas style="display: none;" class="side-by-side by-year-chart" height="240"></canvas>
                </div>
                <div class="graph-mode">
                    <span class="graph-mode-all selected">all</span><span class="graph-mode-year">by year</span>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="radar-chart-view-template">
        <div class="stat-section-title">
            <%= title %>
        </div>
        <div class="pure-g stat-section-full-width-item">
            <div class="pure-u-1-1">
                <canvas class="radar-type-chart" width="260" height="260"></canvas>
            </div>
        </div>
    </script>

    <script type="text/template" id="event-view-template">
        <td><%= start %></td>
        <td><%= duration %></td>
        <td><%= comment %></td>
    </script>

    <script src="/static/javascript/tp/jquery-2.1.1.js" language="javascript" type="text/javascript"></script>
    <script src="/static/javascript/tp/Chart.min.js" language="javascript" type="text/javascript"></script>
    <script src="/static/javascript/tp/underscore.js" language="javascript" type="text/javascript"></script>
    <script src="/static/javascript/tp/backbone.js" language="javascript" type="text/javascript"></script>

    <script src="/static/javascript/helper.js" language="javascript" type="text/javascript"></script>

    <script src="/static/javascript/models/event.js" language="javascript" type="text/javascript"></script>
    <script src="/static/javascript/models/events.js" language="javascript" type="text/javascript"></script>

    <script src="/static/javascript/add_view.js" language="javascript" type="text/javascript"></script>
    <script src="/static/javascript/stats_view.js" language="javascript" type="text/javascript"></script>
    <script src="/static/javascript/event_list_view.js" language="javascript" type="text/javascript"></script>
    <script src="/static/javascript/event_view.js" language="javascript" type="text/javascript"></script>
    <script src="/static/javascript/app.js" language="javascript" type="text/javascript"></script>

    <script>
        $(document).ready(function(){
            window.App = new App();

            window.App.Routes = new Workspace();

            {% if data %}
            window.App.loadData({{ data|safe }});
            {% endif %}

            Backbone.history.start({pushState: true});
        });

    </script>
</body>
</html>