<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Migraine Report</title>

    <link type="text/css" rel="stylesheet" href="/static/css/more.css" />
    <link rel="shortcut icon" href="/static/images/32x32.png">

    <!--[if lte IE 8]>
        <link rel="stylesheet" href="/static/css/tp/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="/static/css/tp/grids-responsive-min.css">
    <!--<![endif]-->

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui"/>
</head>
<body>
    <!-
        Uploaded view
    ->
    <div>
        <div id="layout">
            <!-- Menu toggle -->
            <a href="#menu" id="menuLink" class="menu-link">
                <!-- Hamburger icon -->
                <span></span>
            </a>

            <div id="menu">
                <div class="pure-menu pure-menu-open">
                    <a class="pure-menu-heading" href="/">
                    <div class="logo-container">
                        <div id="menu-logo" class="cube logo">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <div class="logo-hat"></div>
                    </div>
                     Migraine Report</a>

                    <ul>
                        <li><a id="statistics-toggle" href="#"><i class="fa fa-bar-chart"></i> Report</a></li>
                        {% if show_list %}
                        <li><a id="events-toggle" href="#"><i class="fa fa-list"></i> List</a></li>
                        {% endif %}
                        {% if show_add %}
                        <li><a id="add-toggle" href="#"><i class="fa fa-plus"></i> Add</a></li>
                        {% endif %}

                        {% if show_options %}
                        <!--<li class="menu-item-divided"><a id="export-toggle" href="#"><i class="fa fa-share-square-o"></i> Export</a></li>-->
                        <li class="menu-item-divided"><a id="settings-toggle" href="#"><i class="fa fa-user"></i> Account</a></li>
                        {% endif %}

                        {% if show_logout %}
                        <li class="menu-item-divided">
                            <a href="{{ logout_url }}"><i class="fa fa-sign-out"></i> Logout</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>

            <div>
                <!-
                    Add view
                ->
                {% if show_add %}
                <div id="add-view" style="display: none;">
                    <div>
                    <div>
                        <h2 class="title">Add</h2>
                    </div>
                    <div class="narrow content">
                        {% if example or low_count %}
                        <div class="panel-yellow">
                            <div>
                            Add a single attack or upload a file containing several.  We accept most spreadsheet formats (.xls, .xlsx, .csv) or calendar export files (.ics).
                            </div>
                        </div>
                        {% endif %}
                        <div class="stat-section-title">
                            Log an attack
                        </div>
                        <div class="section-content" id="single-upload-attack-view-container">
                        </div>

                        <div class="stat-section-title">
                            Upload attacks
                        </div>
                        <div class="section-content">
                            <p>Drag and drop your spreadsheet or calendar file containing your migraine diary.</p>
                            <div class="upload-container">
                                <div>
                                    <div class="file-type green">
                                        <div>
                                            <span></span>
                                            <p>XLSX</p>
                                        </div>
                                    </div>
                                    <div class="file-type blue">
                                        <div>
                                            <span></span>
                                            <p>CSV</p>
                                        </div>
                                    </div>
                                    <div class="file-type red">
                                        <div>
                                            <span></span>
                                            <p>ICS</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div id="add-status-panel-container">
                                <div id="add-status-panel" style="display: none;">
                                    <div id="add-uploading-message" style="display: none;">Uploading...
                                        <div class='progress'>
                                            <span style="width: 0%;"></span>
                                        </div>
                                    </div>
                                    <div id="add-processing-message" style="display: none;">Processing...
                                        <div class='progress indefinite'>
                                            <span></span>
                                        </div>
                                    </div>
                                    <div id="add-uploaded-message" style="display: none;">

                                    </div>
                                </div>
                            </div>
                            <div class="panel-yellow">
                                <div>
                                If you're uploading a spreadsheet there's three columns we look for:
                                    <ul>
                                        <li><span>Start</span> or <span>Started</span> or <span>Began</span> or <span>Start Time</span></li>
                                        <li><span>Recovered</span> or <span>Finished</span> or <span>Finish</span></li>
                                        <li><span>Description</span> or <span>Comment(s)</span></li>
                                    </ul>
                                    Column names don't have to match exactly but be similar.
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                {% endif %}

                <!-
                    Stats view
                ->
                <div class="view-container" id="stats-view" style="display: none;">
                    <div>
                        <h2 class="title">Report</h2>
                    </div>
                    {% if example %}
                    <div class="panel-yellow">
                        <div>
                        See insightful statistics about the frequency of your attacks and use data visualisations to find hidden correlations.
                        </div>
                    </div>
                    {% endif %}

                    <div id="stats-loading" class="loading-message">
                        <div>Loading...</div>
                        <div class='progress indefinite'>
                            <span></span>
                        </div>
                    </div>
                    <div id="stats-no-data" class="loading-message" style="display: none;">
                        <div class="panel-blue">
                            <div>
                            You don't have any attacks logged.<br/>Go <a href="/add">here</a> to log an attack or upload a file containing several.
                            </div>
                        </div>
                    </div>
                    <div id="stats-not-much-data" class="loading-message" style="display: none;">
                        <div class="panel-blue">
                            <div>
                            You only have <span id="stats-not-much-data-top-line">one attacks</span> logged, you need four to show a report.<br/>Go <a href="/add">here</a> to log an attack or upload a file containing several.
                            </div>
                        </div>
                    </div>
                    <div id="stat-sections-container" class="content">
                    </div>
                </div>

                <!-
                    Events view
                ->

                {% if show_list %}
                <div class="view-container" id="event_list_container" style="display: none;">
                    <div>
                        <h2 class="title">List</h2>
                    </div>
                    {% if example %}
                    <div class="panel-yellow">
                        <div>
                        Examine and search a full list of your attacks.  You can also edit or delete your attacks.
                        </div>
                    </div>
                    {% endif %}
                    <div class="content">
                        <div id="list-loading" class="loading-message">
                            <div>Loading...</div>
                            <div class='progress indefinite'>
                                <span></span>
                            </div>
                        </div>
                        <div id="list-no-data" class="loading-message" style="display: none;">
                            <div class="panel-blue">
                                <div>
                                You don't have any attacks logged.<br/>Go <a href="/add">here</a> to log an attack or upload a file containing several.
                                </div>
                            </div>
                        </div>
                        <div style="display: none;" id="list-table-container">
                            <div id="list-search"  class="pure-form">
                                <div id="list-search-input-container">
                                    <input id="list-search-input" type="text" placeholder="Search" class="pure-input-rounded"/>
                                    <i class="fa fa-times-circle" id="list-search-input-clear" style="display: none;"></i>
                                </div>
                            </div>
                            <div id="list-count">
                                Showing 62 attacks
                            </div>
                            <table id="list-table" class="pure-table pure-table-horizontal">
                                <thead>
                                    <tr>
                                        <th id="list-started-header">Started</th>
                                        <th>Duration</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% endif %}

                <!-
                    Settings view
                ->
                {% if show_options %}
                <div class="view-container" id="settings-view" style="display: none;">
                    <div>
                        <h2 class="title">Account</h2>
                    </div>
                    <div id="settings-container" class="content narrow">
                        {% if example %}
                        <div class="panel-yellow">
                            <div>
                            Export all your data, share a read-only version of your report or permanently delete all your data.
                            </div>
                        </div>
                        {% endif %}
                        <div class="stat-section-title">
                            Account
                        </div>
                        <div class="section-content">
                            <form class="pure-form pure-form-aligned">
                                <fieldset>
                                    <div class="pure-control-group">
                                        <label>Name</label>
                                        <span>{{ user.name }}</span>
                                    </div>
                                    <div class="pure-control-group">
                                        <label>Identity Provider</label>
                                        <span>{{ user.provider_name }}</span>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="stat-section-title">
                            Export
                        </div>
                        <div class="section-content">
                            <p>Export all your migraine data with a single click.</p>
                            <div id="settings-export-link-container">
                                <a href="/export/{% if example %}example/{% endif %}migraines.xlsx" class="file-type green file-type-jump">
                                    <div>
                                        <span></span>
                                        <p>XLSX</p>
                                    </div>
                                </a>
                                <a href="/export/{% if example %}example/{% endif %}migraines.csv" class="file-type blue file-type-jump">
                                    <div>
                                        <span></span>
                                        <p>CSV</p>
                                    </div>
                                </a>
                                <a href="/export/{% if example %}example/{% endif %}migraines.ics" class="file-type red file-type-jump">
                                    <div>
                                        <span></span>
                                        <p>ICS</p>
                                    </div>
                                </a>
                            </div>
                        </div>

                         <div class="stat-section-title">
                            Share
                        </div>
                        <div class="section-content">
                            <p>Sometimes it's useful to share information about your migraines with other people; doctors, family, friends or colleagues.</p>
                            <p>Use these links to share up to date read-only versions of your report.</p>
                            <div class="settings-share-link">
                                <a target="_blank" href="/shared/{{ share_report_and_list }}/report"><i class="fa fa-share"></i> Share Report</a>
                            </div>
                        </div>


                        <div class="stat-section-title">
                            Clear Data
                        </div>
                        <div class="section-content">
                            <div id="settings-buttons">
                                <button id="settings-clear-all" class="button-error button-large pure-button {% if example %}pure-button-disabled{% endif %}">Delete all data...</button>
                                <div id="settings-buttons-message"></div>
                            </div>
                        </div>
                   </div>
                    <div class="popup-background" id="clear-all-attacks-popup" style="display: none;">
                        <div class="popup">
                            <div class="popup-container">
                                <div class="popup-title">Delete all data.<br/>Are you sure?</div>
                                <div class="popup-buttons">
                                    <button id="clear-all-cancel" class="pure-button">Cancel</button>
                                    <button id="clear-all-yes" class="button-error pure-button">Yes</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                {% endif %}

                <!-
                    Export view
                ->
                {% if False %}
                <div class="view-container" id="export-view" style="display: none;">
                    <div>
                        <h2 class="title">Export</h2>
                    </div>
                    <div id="export-container" class="content narrow">
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="popup-background" id="attack-details-popup" style="display: none;">
        <div class="popup">
            <div class="popup-header"><i class="fa fa-edit"></i> Edit Attack
                <i class="fa fa-close"></i>
            </div>
            <div class="popup-container">
                <div id="edit-attack-view-container">

                </div>
            </div>
        </div>
    </div>

    <!-
        Templates
    ->
    <script type="text/template" id="overview-view-template">
        <div class="stat-section-title">
            Overview
            <!--<span class="date-range"><%= overview.firstDate %> - <%= overview.lastDate %></span>-->
        </div>
        <div class="stat-section-item-container">
            <!--div class="pure-g stat-section-full-width-item">
                <div class="pure-u-1 pure-u-sm-1-3">
                    <div class="stat-section-item">
                        <div class="count"><%= overview.totalEvents %></div>
                        <div class="description-item" id="total-count-description">
                            <div>Attacks in total between <span><%= overview.firstDate %></span> and <span><%= overview.lastDate %></span>.</div>
                        </div>
                    </div>
                </div>
                <div class="pure-u-1 pure-u-sm-1-3">
                    <div class="stat-section-item">
                        <canvas class="year-trend-chart" height="200" width="100"></canvas>
                    </div>
                </div>
                <div class="pure-u-1 pure-u-sm-1-3">
                    <div class="stat-section-item">
                        <div class="description-item">
                            <div>Average of <span><%= overview.averageTimeBetweenEvent %></span> between attacks. The longest interval between attacks was <span><%= overview.longestGap %></span>, shortest <span><%= overview.shortestGap %></span>.</div>
                        </div>
                    </div>
                </div>
            </div-->
        </div>
        <div class="stat-section-item-container">
            <div class="pure-g stat-section-full-width-item">
                <div class="pure-u-1 pure-u-sm-1-4">
                    <div class="stat-section-item">
                        <div class="count"><%= overview.timeSinceLastAttack %></div>
                        <div class="description-item">
                            <%= overview.timeSinceLastAttackLabel %>
                        </div>
                    </div>
                </div>
                <div class="pure-u-1 pure-u-sm-1-4">
                    <div class="stat-section-item">
                        <div class="count"><%= overview.averageTimeBetweenEvent %></div>
                        <div class="description-item">
                            <%= overview.averageTimeBetweenEventLabel %>
                        </div>
                    </div>
                </div>
                <div class="pure-u-1 pure-u-sm-1-4">
                    <div class="stat-section-item">
                        <div class="count"><%= overview.shortestGap %></div>
                        <div class="description-item">
                            Shortest gap between attacks
                        </div>
                    </div>
                </div>
                <div class="pure-u-1 pure-u-sm-1-4">
                    <div class="stat-section-item">
                        <div class="count"><%= overview.longestGap %></div>
                        <div class="description-item">
                            Longest gap between attacks
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="pure-g stat-section-full-width-item" id="overview-trend">-->
            <!--<div class="pure-u-1-1">-->
                <!--<canvas class="overview-trend-chart" width="740" height="40"></canvas>-->
                <!--<div class="overview-first-date"><%= overview.firstDate %></div>-->
                <!--<div class="overview-last-date"><%= overview.lastDate %></div>-->
            <!--</div>-->
        <!--</div>-->
    </script>

    <script type="text/template" id="days-of-week-view-template">
        <div class="stat-section-title">
            <%= daysData.title %>
        </div>
        <div class="pure-g stat-section-full-width-item">
            <div class="pure-u-1 pure-u-sm-2-3">
                <div class="side-by-side-container">
                    <canvas class="side-by-side all-chart" height="240"></canvas>
                    <canvas style="display: none;" class="side-by-side by-year-chart" height="240"></canvas>
                </div>
                <div class="report-buttons graph-mode">
                    <div class="graph-mode-all selected">All</div><div class="graph-mode-year">By Year</div>
                </div>
            </div>
            <div class="pure-u-1 pure-u-sm-1-3">
                <div class="stat-section-item">
                    <div class="description-item">
                        <% if (mostFrequentText.length + leastFrequentText.length < 80) { %>
                        <div>Attacks have most frequently been on a <span><%= mostFrequentText %></span>  or least frequently on a  <span><%= leastFrequentText %></span>.</div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="months-of-year-view-template">
        <div class="stat-section-title">
            <%= all.title %>
        </div>
        <div class="pure-g stat-section-full-width-item">
            <div class="pure-u-1">
                <div class="side-by-side-container">
                    <canvas class="side-by-side all-chart" height="240"></canvas>
                    <canvas style="display: none;" class="side-by-side by-year-chart" height="240"></canvas>
                </div>
                <div class="report-buttons graph-mode">
                    <div class="graph-mode-all selected">All</div><div class="graph-mode-year">By Year</div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="radar-chart-view-template">
        <div class="stat-section-title">
            <%= title %>
        </div>
        <div class="pure-g stat-section-full-width-item">
            <div class="pure-u-1-1">
                <canvas class="radar-type-chart" width="260" height="260"></canvas>
            </div>
        </div>
    </script>

    <script type="text/template" id="event-view-template">
        <td><%= start_text %></td>
        <td><%= duration_text %></td>
        <td><%= comment %></td>
    </script>

    <script type="text/template" id="calendar-report-view-template">
        <div class="pure-g stat-section-full-width-item">
            <div class="pure-u-1-1">
                <div class="calendar-report">
                    <div class="calendar-report-buttons report-buttons">
                        <div class="calendar-report-12months selected">Last 12 Months</div><div class="calendar-report-all-stacked">Year-On-Year</div><div class="calendar-report-all">All</div>
                    </div>
                    <div class="calendar-report-last12months">
                    </div>
                    <div class="calendar-report-all" style="display: none;">
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="attack-gap-view-template">
        <div class="pure-g stat-section-full-width-item">
            <div class="pure-u-1-1">
                <div class="stat-section-sub-heading">Time Between Attacks</div>
                <div class="attack-gap-report">
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="attack-view-template">
        <form id="single-upload-form" class="pure-form pure-form-aligned">
            <fieldset>
                <div class="pure-control-group">
                    <label for="started">Started</label>
                    <input name="started" id="started" type="date" data-format="dd/MM/yyyy" placeholder="Started">
                    <select name="started-time" id="started-time">
                       <option value="00:00">00:00</option>
                       <option value="00:30">00:30</option>
                       <option value="01:00">01:00</option>
                       <option value="01:30">01:30</option>
                       <option value="02:00">02:00</option>
                       <option value="02:30">02:30</option>
                       <option value="03:00">03:00</option>
                       <option value="03:30">03:30</option>
                       <option value="04:00">04:00</option>
                       <option value="04:30">04:30</option>
                       <option value="05:00">05:00</option>
                       <option value="05:30">05:30</option>
                       <option value="06:00">06:00</option>
                       <option value="06:30">06:30</option>
                       <option value="07:00">07:00</option>
                       <option value="07:30">07:30</option>
                       <option value="08:00">08:00</option>
                       <option value="08:30">08:30</option>
                       <option value="09:00">09:00</option>
                       <option value="09:30">09:30</option>
                       <option value="10:00">10:00</option>
                       <option value="10:30">10:30</option>
                       <option value="11:00">11:00</option>
                       <option value="11:30">11:30</option>
                       <option value="12:00" selected>12:00</option>
                       <option value="12:30">12:30</option>
                       <option value="13:00">13:00</option>
                       <option value="13:30">13:30</option>
                       <option value="14:00">14:00</option>
                       <option value="14:30">14:30</option>
                       <option value="15:00">15:00</option>
                       <option value="15:30">15:30</option>
                       <option value="16:00">16:00</option>
                       <option value="16:30">16:30</option>
                       <option value="17:00">17:00</option>
                       <option value="17:30">17:30</option>
                       <option value="18:00">18:00</option>
                       <option value="18:30">18:30</option>
                       <option value="19:00">19:00</option>
                       <option value="19:30">19:30</option>
                       <option value="20:00">20:00</option>
                       <option value="20:30">20:30</option>
                       <option value="21:00">21:00</option>
                       <option value="21:30">21:30</option>
                       <option value="22:00">22:00</option>
                       <option value="22:30">22:30</option>
                       <option value="23:00">23:00</option>
                       <option value="23:30">23:30</option>
                    </select>
                </div>

                <div class="pure-control-group">
                    <label for="ended">Recovered</label>
                    <input name="ended" id="ended" type="date" data-format="dd/MM/yyyy" placeholder="Ended">
                    <select name="ended-time" id="ended-time">
                       <option value="00:00">00:00</option>
                       <option value="00:30">00:30</option>
                       <option value="01:00">01:00</option>
                       <option value="01:30">01:30</option>
                       <option value="02:00">02:00</option>
                       <option value="02:30">02:30</option>
                       <option value="03:00">03:00</option>
                       <option value="03:30">03:30</option>
                       <option value="04:00">04:00</option>
                       <option value="04:30">04:30</option>
                       <option value="05:00">05:00</option>
                       <option value="05:30">05:30</option>
                       <option value="06:00">06:00</option>
                       <option value="06:30">06:30</option>
                       <option value="07:00">07:00</option>
                       <option value="07:30">07:30</option>
                       <option value="08:00">08:00</option>
                       <option value="08:30">08:30</option>
                       <option value="09:00">09:00</option>
                       <option value="09:30">09:30</option>
                       <option value="10:00">10:00</option>
                       <option value="10:30">10:30</option>
                       <option value="11:00">11:00</option>
                       <option value="11:30">11:30</option>
                       <option value="12:00">12:00</option>
                       <option value="12:30">12:30</option>
                       <option value="13:00">13:00</option>
                       <option value="13:30">13:30</option>
                       <option value="14:00">14:00</option>
                       <option value="14:30">14:30</option>
                       <option value="15:00">15:00</option>
                       <option value="15:30">15:30</option>
                       <option value="16:00" selected>16:00</option>
                       <option value="16:30">16:30</option>
                       <option value="17:00">17:00</option>
                       <option value="17:30">17:30</option>
                       <option value="18:00">18:00</option>
                       <option value="18:30">18:30</option>
                       <option value="19:00">19:00</option>
                       <option value="19:30">19:30</option>
                       <option value="20:00">20:00</option>
                       <option value="20:30">20:30</option>
                       <option value="21:00">21:00</option>
                       <option value="21:30">21:30</option>
                       <option value="22:00">22:00</option>
                       <option value="22:30">22:30</option>
                       <option value="23:00">23:00</option>
                       <option value="23:30">23:30</option>
                    </select>
                </div>

                <div class="add-duration-group-container">
                    <div style="display: none;" class="pure-control-group" id="add-duration-group">
                        <label>Duration</label>
                        <span></span>
                    </div>
                </div>

                <div class="pure-control-group">
                    <label for="add-comment-text">Description</label>
                    <div class="text-area-container">
                        <textarea name="comment" id="add-comment-text" placeholder="What happened?  What you ate, what you were doing, what treatment, how you felt, the weather."></textarea>
                    </div>
                </div>

                <div id="add-message-label-container">
                    <Label id="add-message-label"></Label>
                </div>
                <div class="pure-controls">
                    <button id="submit-button" type="submit" class="pure-button pure-button-primary"><%= submit_button %></button>
                    <% if (show_cancel){ %>
                        <button id="cancel-button" type="submit" class="pure-button">Cancel</button>
                    <% } %>
                    <% if (show_delete){ %>
                    <button id="delete-button" type="submit" class="pure-button button-error {% if example %}pure-button-disabled{% endif %}"><i class="fa fa-trash"></i><span>Sure?</span></button>
                    <% } %>
                </div>
            </fieldset>
        </form>
    </script>

    {% if web_debug %}
    <script src="/static/javascript/tp/jquery-2.1.1.js" language="javascript" type="text/javascript"></script>
    <script src="/static/javascript/tp/Chart.min.js" language="javascript" type="text/javascript"></script>
    <script src="/static/javascript/tp/underscore.js" language="javascript" type="text/javascript"></script>
    <script src="/static/javascript/tp/backbone.js" language="javascript" type="text/javascript"></script>
    <script src="/static/javascript/tp/d3.v3.min.js" language="javascript" type="text/javascript"></script>
    <script src="/static/javascript/tp/velocity.min.js" language="javascript" type="text/javascript"></script>
    <script src="/static/javascript/tp/velocity.ui.min.js" language="javascript" type="text/javascript"></script>

    <script src="/static/javascript/tp/better-dom.js" language="javascript" type="text/javascript"></script>
    <script src="/static/javascript/tp/better-i18n-plugin.js" language="javascript" type="text/javascript"></script>
    <script src="/static/javascript/tp/better-dateinput-polyfill.js" language="javascript" type="text/javascript"></script>

    <script src="/static/javascript/helper.js" language="javascript" type="text/javascript"></script>

    <script src="/static/javascript/models/event.js" language="javascript" type="text/javascript"></script>
    <script src="/static/javascript/models/events.js" language="javascript" type="text/javascript"></script>

    <script src="/static/javascript/main_view_base.js" language="javascript" type="text/javascript"></script>
    <script src="/static/javascript/attack_view.js" language="javascript" type="text/javascript"></script>
    <script src="/static/javascript/edit_attack_view.js" language="javascript" type="text/javascript"></script>

    <script src="/static/javascript/add_view.js" language="javascript" type="text/javascript"></script>

    <script src="/static/javascript/overview_view.js" language="javascript" type="text/javascript"></script>
    <script src="/static/javascript/stats_view.js" language="javascript" type="text/javascript"></script>
    <script src="/static/javascript/calendar_report_view.js" language="javascript" type="text/javascript"></script>
    <script src="/static/javascript/attack_gap_view.js" language="javascript" type="text/javascript"></script>

    <script src="/static/javascript/event_list_view.js" language="javascript" type="text/javascript"></script>
    <script src="/static/javascript/event_view.js" language="javascript" type="text/javascript"></script>
    <script src="/static/javascript/settings_view.js" language="javascript" type="text/javascript"></script>
    <script src="/static/javascript/export_view.js" language="javascript" type="text/javascript"></script>

    <script src="/static/javascript/app.js" language="javascript" type="text/javascript"></script>
    {% else %}
    <script src="/static/javascript/min/all-min.js" language="javascript" type="text/javascript"></script>
    {% endif %}

    <script>
        $(document).ready(function(){
            window.App = new App();

            window.App.Routes = new Workspace();

            {% if example %}
            window.App.example = true;
            {% endif %}

            window.App.loadData({{ data|safe }});

            var enablePushState = true;

            // Disable for older browsers
            var pushState = !!(enablePushState && window.history && window.history.pushState);

            Backbone.history.start({pushState: pushState});
        });

    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-56994789-1', 'auto');
      ga('send', 'pageview');

    </script>

</body>
</html>